{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- hero video? -->
    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>

    <!-- 3 Walking Tours Marketing -->
    <div class="container container-marketing">
        <div class="row">
            <!-- Tour 1 -->
            <div class="col-lg-4">
                <img src="" alt="" class="rounded-circle">
                <h2>Tour 1</h2>
                <p>I'm baby neutra sartorial street art, raclette direct trade roof party selfies hell of helvetica.</p>
                <p>
                    <a class="btn btn-secondary" href="#">Learn more »</a>
                </p>
            </div>
            <!-- Tour 2 -->
            <div class="col-lg-4">
                <img src="" alt="" class="rounded-circle">
                <h2>Tour 2</h2>
                <p>I'm baby neutra sartorial street art, raclette direct trade roof party selfies hell of helvetica.</p>
                <p>
                    <a class="btn btn-secondary" href="#">Learn more »</a>
                </p>
            </div>

            <!-- Tour 3 -->
            <div class="col-lg-4">
                <img src="" alt="" class="rounded-circle">
                <h2>Tour 3</h2>
                <p>I'm baby neutra sartorial street art, raclette direct trade roof party selfies hell of helvetica.</p>
                <p>
                    <a class="btn btn-secondary" href="#">Learn more »</a>
                </p>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 my-5 py-5">
                    <h2 class="display-4">Tour 1 <span class="text-muted">It’ll blow your mind.</span></h2>
                    <p> Post-ironic lo-fi pork belly, stumptown +1 locavore succulents. 
                        Quinoa fam vinyl sriracha single-origin coffee, small batch tote
                        bag umami banjo yr ethical listicle activated charcoal sartorial lyft.</p>
                </div>
                <div class="col-md-5">
                    <img src="https://eu-assets.simpleview-europe.com/peakdistrict/imageresizer/?image=%2Fdmsimgs%2FMatlcok-Bath-2-1220-x-620_1539277098.jpg&action=ProductDetail_New" alt="" width="500" height="500">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-5">
                    <img src="https://eu-assets.simpleview-europe.com/peakdistrict/imageresizer/?image=%2Fdmsimgs%2FMatlcok-Bath-2-1220-x-620_1539277098.jpg&action=ProductDetail_New" alt="" width="500" height="500">
                </div>
                <div class="col-md-7 my-5 py-5">
                    <h2 class="display-4">Tour 2 <span class="text-muted">It’ll blow your mind.</span></h2>
                    <p> Post-ironic lo-fi pork belly, stumptown +1 locavore succulents.
                        Quinoa fam vinyl sriracha single-origin coffee, small batch tote
                        bag umami banjo yr ethical listicle activated charcoal sartorial lyft.</p>
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 my-5 py-5">
                    <h2 class="display-4">Tour 3 <span class="text-muted">It’ll blow your mind.</span></h2>
                    <p> Post-ironic lo-fi pork belly, stumptown +1 locavore succulents.
                        Quinoa fam vinyl sriracha single-origin coffee, small batch tote
                        bag umami banjo yr ethical listicle activated charcoal sartorial lyft.</p>
                </div>
                <div class="col-md-5">
                    <img src="https://eu-assets.simpleview-europe.com/peakdistrict/imageresizer/?image=%2Fdmsimgs%2FMatlcok-Bath-2-1220-x-620_1539277098.jpg&action=ProductDetail_New" alt="" width="500" height="500">
                </div>
            </div>

        </div>
    </div>

{% endblock %}