@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body {
    background: var(--mint);
    height: calc(100vh - 164px);
    color: var(--pea);
    font-family: 'open sans', sans-serif;
}



/* ---------- Colours ----------*/

:root {
    --pea: #389794;
    --apricot: #FFBA6A;
    --vanilla: #FAF0E7;
    --melon: #FFB8A6;
    --mint: #BED8D2;
    --white: #fafafa;
}

/* ---------- Fonts ----------*/

/* ---------- Flashed Messages ----------*/

/* ---------- Buttons ----------*/

.primary-btn {
    background: var(--melon);
    color: var(--white);
    min-width: 260px;
}

.secondary-btn {
    background: var(--mint);
    color: var(--white);
    min-width: 260px;
}

/* ---------- Home Page ----------*/

header {
  position: relative;
  background-color: red;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}




/* ---------- Tours Page ----------*/

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: var(--mint);
    z-index: -1;
}



/* ---------- Media Queries ----------*/
/* DOESN"T NEED TO BE IN A MQ NOW TBC*/
@media (min-width: 0px) {

    .header-container {
        padding-top: 100px;
    }
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
  }
  header video {
    display: none;
  }
}



