{% extends "base.html" %}
{% load static %}
{%  include 'navbar.html' %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
        <div class="container-fluid">
            <div class="row">
                <div class="col text-center mt-3">
                    <h2 class="">Tours</h2>
                    <hr class="w-50 mb-1">

                </div>
            </div>
            <div class="row">
                <div class="tours-container col-10 offset-1">
                    <div class="row mt-1 mb-2"></div>
                    <div class="row">
                        {% for tour in tours %}
                            <div class="col-sm-12 col-lg-4 clearfix">
                                <div class="card h-100 border-0">
                                    {% if tour.image %}
                                    <a href=" {% url 'tour_detail' tour.id %} ">
                                        <img class="card-img-top img-fluid" src="{{ tour.image.url }}" alt="{{ tour.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'tour_detail' tour.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ tour.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ tour.name }}</p>
                                        <small class="mb-0">{{ tour.description }}</small>
                                    </div>

                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                <p class="lead mb-0 text-left font-weight-bold">${{ tour.price }}</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 d-lg-none">
                                <hr class="w-50">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


{% endblock %}