{% load static %}

<!doctype html>
<html lang="en">
    <head>

        {% block meta %}
            <meta http-equiv="X-UA-compatible" content="edge">
            <meta charset="utf-8">
            <meta name="description" content="A range of amazing walking tours in Matlock Bath">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        {% endblock %}

        {% block extrameta %}
        {% endblock %}

        {% block corecss %}
            <!-- CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        <!-- Fontawesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        {% block extracss %}
        {% endblock %}

        {% block corejs  %}
        <!-- Scripts -->
        {% endblock %}

        {% block extrajs %}
        {% endblock %}

        <title>Matlock Bath Walking Tours {% block extratitle %}{% endblock %}</title>



    </head>
    <body>
    <!-- Header -->
        <header class="header-container">
            <!--Nav Bar-->
            <nav class="container-fluid fixed-top navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <!-- Navbar logo -->
                    <a class="navbar-brand" href="{% url 'home' %}"><i class="fas fa-hiking fa-lg"></i>
                        <h2>Matlock Bath Tours</h2>
                    </a>
                    <!-- Burger button -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- Navbar content -->
                    <div class="collapse navbar-collapse justify-content-right" id="navbarSupportedContent">
                        <ul id="menu" class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'home' %}">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'all_tours' %}">Tours</a>
                            </li>
                            <!-- Available IF user authenticated -->
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="" class="nav-link">Product Management</a>
                                {% endif %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            <!-- ElSE they can see this? -->
                            {% else %}
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            {% endif %}
                            <li class="list-inline-item">
                                <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                                   href="">
                                    <div class="text-center">
                                        <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                        <p class="my-0">
                                            {% if grand_total %}
                                                ${{ grand_total|floatformat:2 }}
                                            {% else %}
                                                $0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header>
    <!-- /Header -->

        <!-- Display space for any flash messages from Django -->
         {% if messages %}
        <div class="message-container"></div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        {% endblock %}
        <!-- Footer -->
         <footer class="page-footer font-small footer-color pt-4">
             <div class="container text-center text-md-left">
                 <div class="row text-center text-md-left mt-3 pb-3">
                     <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                         <h6 class="text-uppercase mb-4 font-weight-bold">Matlock Bath Walking Tours</h6>
                         <p>
                             Post-ironic lo-fi pork belly, stumptown +1 locavore succulents.
                             <br> Post-ironic lo-fi pork belly, stumptown +1 locavore succulents. Quinoa fam vinyl
                             sriracha single-origin coffee,
                             small batch tote bag umami banjo yr ethical listicle activated charcoal sartorial lyft.
                         </p>
                     </div>

                     <hr class="w-100 clearfix d-md-none">

                     <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                         <h6 class="text-uppercase mb-4 font-weight-bold">Buy Now</h6>
                         <p>
                             <a class="text-white" href="">Tours</a>
                         </p>
                     </div>

                     <hr class="w-100 clearfix d-md-none">

                     <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                         <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                         {% if user.is_authenticated %}
                             <p>
                                 <a class="text-white" href="">Logout</a>
                             </p>
                         {% else %}
                             <p>
                                 <a class="text-white" href="">Register</a>
                             </p>
                             <p>
                                 <a class="text-white" href="">Login</a>
                             </p>
                         {% endif %}
                     </div>

                     <hr class="w-100 clearfix d-md-none">

                     <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                         <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                         <p><i class="fas fa-envelope mr-3"></i> info@matlockbathtours.com</p>
                         <p><i class="fas fa-phone mr-3"></i> +44 208 544 </p>
                     </div>

                 </div>
                 <!-- Footer links -->
                 <hr>

                 <div class="row d-flex align-items-center">
                     <div class="col-md-7 col-lg-8">
                         <!--Copyright-->
                         <p class="text-md-left">Copyright © 2021
                             <a href="{% url 'home' %}">
                                 <strong class="">Matlock Bath Tours</strong>
                             </a>
                         </p>
                     </div>
                     <div class="col-md-5 col-lg-4 ml-lg-0">
                         <!-- Social buttons -->
                         <div class="text-center text-md-right">
                             <ul class="list-unstyled list-inline">
                                 <li class="list-inline-item">
                                     <a href="https://www.facebook.com/" class="btn-floating btn-sm mx-1"
                                        target="_blank">
                                         <i class="fab fa-facebook-f"></i>
                                     </a>
                                 </li>
                                 <li class="list-inline-item">
                                     <a href="https://www.twitter.com/" class="btn-floating btn-sm mx-1"
                                        target="_blank">
                                         <i class="fab fa-twitter"></i>
                                     </a>
                                 </li>
                                 <li class="list-inline-item">
                                     <a href="https://www.instagram.com/" class="btn-floating btn-sm mx-1"
                                        target="_blank">
                                         <i class="fab fa-instagram"></i>
                                     </a>
                                 </li>
                             </ul>
                         </div>
                     </div>
                     <!-- Grid column -->
                 </div>
                 <!-- Grid row -->
             </div>
             <!-- Footer Links -->
         </footer>
        <!-- /Footer -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    </body>
</html>