<!--Nav Bar-->
<nav class="container-fluid fixed-top navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Navbar logo -->
        <a class="navbar-brand" href="{% url 'home' %}">
            <span class="icon">
                <i class="fas fa-hiking fa-lg"></i>
            </span>
            <span>
                <h2>Matlock Bath Tours</h2>
            </span>
        </a>
        <!-- Burger button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar content -->
        <div class="collapse navbar-collapse justify-content-right" id="navbarSupportedContent">
            <ul id="menu" class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <!-- Dropdown sorting feature -->
                <li class="nav-item active dropdown">
                    <a class="nav-link" href="#" id="all-tours-link" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">All Tours</a>
                    <div class="dropdown-menu border-0" aria-labelledby="all-tours-link">
                        <a href="{% url 'all_tours' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                        <a href="{% url 'all_tours' %}" class="dropdown-item">*All Tours*</a>
                    </div>
                </li>
                <!-- Available IF user authenticated/superuser -->
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="nav-link">Product Management</a>
                    {% endif %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                    </li>
                {% endif %}
                <li class="list-inline-item">
                    <a class="{% if total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link"
                       href="{% url 'view_bag' %}">
                        <div class="text-center">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <p class="my-0">
                                {% if total %}
                                    £{{ total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

</nav>